body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #1c1c25;
    height: 80px;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 25px;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.contato {
    background-color: #25D366;
    padding: 8px 15px;
    border-radius: 5px;
}


.banner img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.banner2 img {
    width: 40%;
    height: auto;
    display: block;
    margin: 40px auto; /* centraliza horizontalmente */
}


.sobre {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
}


.servicos {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: justify;
    transition: 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.cta {
    background: #1a1a22;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.cta a {
    background-color: #25D366;
    padding: 14px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.cta a:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
}


footer {
    text-align: center;
    padding: 30px;
    background-color: #1c1c25;
    color: #aaa;
    font-size: 14px;
}
.card h3 {
    margin-bottom: 10px;   
}

.card p {
    line-height: 1.4;                
}


.card-sobre {
    background: white;
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: justify;
    line-height: 1.6;
}
.contato-info {
    margin: 20px 0;
    font-size: 18px;
}

.contato-info a {
    color: #25D366;
    text-decoration: none;
    font-weight: bold;
}

.botao-whats {
    display: inline-block;
    margin-top: 20px;
    background-color: #25D366;
    padding: 14px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao-whats:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
}
.contatos-lado {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.email-btn {
    background-color: #2e2e3f;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.email-btn:hover {
    background-color: #44445a;
    transform: translateY(-3px);
}
.whats-btn {
    background-color: #1d4641;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.whats-btn:hover {
    background-color: #1f413d;
    transform: translateY(-3px);
}
